tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
**/.env
.config.yaml
**/.config.yaml
**/data/.config.yaml
.pm2/
node_modules/
**/node_modules/
xiaozhi-mqtt-gateway/.env
xiaozhi-mqtt-gateway/.git/
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
